.container {
  max-width: 1139px;
  min-height: 100%;
  margin: 0px auto;
}

.header {
  padding-left: 20px;
  padding-top: 64px;
  background-color: #eff0f2;
}
@media (max-width: 375px) {
  .header {
    padding: 10px 5px;
  }
}
.header__logo {
  margin-bottom: 206px;
}
@media (max-width: 1005px) {
  .header__logo {
    margin-bottom: 21%;
  }
}
@media (max-width: 375px) {
  .header__logo {
    margin-bottom: 30px;
  }
}
.header__logo img {
  width: 300px;
}
.header__title {
  text-align: center;
  color: #505050;
  text-transform: uppercase;
  margin-bottom: 150px;
}
@media (max-width: 1005px) {
  .header__title {
    margin-bottom: 21%;
  }
}
@media (max-width: 375px) {
  .header__title {
    margin-bottom: 40px;
  }
}
.header__title-text, .header__title-text-next {
  display: block;
  text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 2.5px;
}
@media (max-width: 1005px) {
  .header__title-text, .header__title-text-next {
    font-size: 40px;
  }
}
@media (max-width: 904px) {
  .header__title-text, .header__title-text-next {
    font-size: 35px;
  }
}
@media (max-width: 647px) {
  .header__title-text, .header__title-text-next {
    font-size: 31px;
  }
}
@media (max-width: 582px) {
  .header__title-text, .header__title-text-next {
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  .header__title-text, .header__title-text-next {
    font-size: 25px;
  }
}
.header__title-text {
  margin-bottom: 25px;
}
@media (max-width: 375px) {
  .header__title-text {
    margin-bottom: 10px;
  }
}
.header__title-text-color-blue {
  width: 255px;
  height: 54px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #76f4ea;
  opacity: 0.5;
}
.header__title-text-color-blue {
  width: 236px;
  height: 54px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #76f4ea;
  opacity: 0.5;
}
.header__contact-us {
  text-align: center;
}
.header__contact-us-button {
  width: 232px;
  height: 53px;
  margin: 0px auto;
  border: 2px solid #777879;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.56;
  font-weight: 400;
  color: #3c3c3d;
}
.header__contact-us-button:hover {
  background-color: #777879;
  color: #ffffff;
  cursor: pointer;
}
.header__image {
  margin-left: 75.6%;
}
@media (max-width: 375px) {
  .header__image {
    margin-left: 65%;
  }
}

.main {
  width: 100%;
}
.main h2 {
  opacity: 0.9;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 0.74;
  letter-spacing: 2.28px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 17px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .main h2 {
    margin-bottom: 5px;
    font-size: 25px;
  }
}
.main h3 {
  opacity: 0.62;
  font-family: Merriweather;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 1.08px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10%;
  color: #808181;
}
@media (max-width: 1126px) {
  .main h3 {
    margin-bottom: 5%;
  }
}
@media (max-width: 1024px) {
  .main h3 {
    margin-bottom: 1px;
  }
}
@media (max-width: 375px) {
  .main h3 {
    margin-bottom: 5px;
    font-size: 10px;
  }
}

.about__us {
  padding: 129px 15px 0px;
  background-color: #f8fafa;
}
@media (max-width: 1024px) {
  .about__us {
    padding: 5% 10px 0px;
  }
}
.about__us-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 630px) {
  .about__us-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.about__us-flex-image {
  margin-right: 10%;
}
@media (max-width: 1024px) {
  .about__us-flex-image {
    margin-right: 5%;
  }
}
@media (max-width: 768px) {
  .about__us-flex-image {
    margin-right: 2%;
  }
}
@media (max-width: 630px) {
  .about__us-flex-image {
    margin-right: 0px;
  }
}
.about__us-flex-image img {
  max-width: 100%;
}
.about__us-flex-content {
  max-width: 474px;
}
.about__us-flex-content h4 {
  opacity: 0.75;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  margin-bottom: 31px;
}
@media (max-width: 821px) {
  .about__us-flex-content h4 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.about__us-flex-content p {
  max-width: 474px;
  opacity: 0.74;
  font-family: Raleway;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.8px;
  text-align: left;
  color: rgba(0, 0, 0, 0.74);
}
@media (max-width: 821px) {
  .about__us-flex-content p {
    font-size: 13.5px;
  }
}

.works {
  padding: 129px 0px 125px;
}
@media (max-width: 1160px) {
  .works {
    padding: 5% 10px 10px;
  }
}
@media (max-width: 375px) {
  .works {
    padding: 10px 10px;
  }
}
.works__images {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 13px;
  grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 375px) {
  .works__images {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.works__image {
  position: relative;
  padding: 0px 0px 85% 0px;
  -ms-grid-column: auto;
      grid-column-start: auto;
  -ms-grid-row: auto;
      grid-row-start: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.works__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  background-color: #f9fbfb;
  text-align: center;
}
.team__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1150px) {
  .team__gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.team__gallery .team-gallery__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32%;
  max-width: 370px;
  margin: 5px auto;
  cursor: pointer;
}
@media (max-width: 1150px) {
  .team__gallery .team-gallery__item {
    width: 320px;
    margin: 5px;
  }
}
.team__gallery .team-gallery__item .team__image {
  width: 100%;
}
.team__gallery .team-gallery__item .team__image img {
  width: 370px;
}
@media (max-width: 1150px) {
  .team__gallery .team-gallery__item .team__image img {
    width: 300px;
  }
}
.team__gallery .team-gallery__item:hover > .tooltip {
  position: absolute;
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  max-width: 335px;
  min-height: 241px;
  padding: 43px 54px 42px 38px;
  bottom: 3%;
  opacity: 0.98;
  -webkit-box-shadow: 2.7px 6.4px 16px 0 rgba(20, 20, 21, 0.18);
          box-shadow: 2.7px 6.4px 16px 0 rgba(20, 20, 21, 0.18);
  background-color: #6df6eb;
  visibility: visible;
}
@media (max-width: 1150px) {
  .team__gallery .team-gallery__item:hover > .tooltip {
    min-height: 210px;
    max-width: 280px;
    padding: 15px;
  }
}
@media (max-width: 660px) {
  .team__gallery .team-gallery__item:hover > .tooltip {
    min-height: 138px;
    max-width: 280px;
    padding: 18px 54px 22px 38px;
  }
}
.team__gallery .tooltip {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
  text-align: left;
}
.team__gallery .tooltip .employee__header {
  margin-bottom: 23px;
}
.team__gallery .tooltip .employee__header .employee__name,
.team__gallery .tooltip .employee__header .employee__position {
  line-height: 24px;
}
.team__gallery .tooltip .employee__header .employee__name {
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(39, 39, 39, 0.95);
}
.team__gallery .tooltip .employee__header .employee__position {
  font-family: "Merriweather-Italic", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(118, 112, 112, 0.95);
}
.team__gallery .tooltip .employee__info {
  max-width: 239px;
  margin-bottom: 37px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 660px) {
  .team__gallery .tooltip .employee__info {
    display: none;
  }
}
.team__gallery .tooltip .employee-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 88px;
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: ease-out 550ms;
  transition: ease-out 550ms;
  cursor: pointer;
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link:hover .employee-socials__icon {
  fill: rgba(0, 0, 0, 0.7);
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--gmail,
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--twitter,
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--dribble,
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--facebook {
  fill: rgba(0, 0, 0, 0.7);
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--facebook {
  width: 8px;
  height: 13px;
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--twitter {
  width: 13px;
  height: 10px;
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--dribble {
  width: 12px;
  height: 12px;
}
.team__gallery .tooltip .employee-socials__list .employee-socials__link .employee-socials__icon--gmail {
  width: 15px;
  height: 11px;
}
.team__gallery .tooltip__triangle:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 21px 37px 21px;
  border-color: transparent transparent #71f6ec transparent;
  position: absolute;
  top: -19px;
  left: 11px;
  opacity: 0.97;
}

.contacts {
  background-image: url(../images/cristmas_snow.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 308px 0px 123px;
}
@media (max-width: 1180px) {
  .contacts {
    padding: 160px 5px 100px;
  }
}
@media (max-width: 1023px) {
  .contacts {
    padding: 100px 5px 50px;
  }
}
@media (max-width: 440px) {
  .contacts {
    padding: 10px 0px 0px;
  }
}
.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1023px) {
  .contacts .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts .container .contacts-section__form-wrapper {
  width: 614px;
  padding: 47px 30px 34px 31px;
  margin: 0px 26px 0px 0px;
  -webkit-box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.12);
          box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.12);
  background-color: rgba(21, 21, 21, 0.6);
  z-index: 0;
}
@media (max-width: 1023px) {
  .contacts .container .contacts-section__form-wrapper {
    width: 768px;
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 768px) {
  .contacts .container .contacts-section__form-wrapper {
    width: 614px;
    margin: 0px 0px 5px 0px;
  }
}
@media (max-width: 630px) {
  .contacts .container .contacts-section__form-wrapper {
    max-width: 420px;
  }
}
@media (max-width: 440px) {
  .contacts .container .contacts-section__form-wrapper {
    max-width: 360px;
  }
}
@media (max-width: 375px) {
  .contacts .container .contacts-section__form-wrapper {
    max-width: 310px;
  }
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset {
  margin-bottom: 38px;
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block,
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block {
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 15px 0px;
  background-color: transparent;
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block::-webkit-input-placeholder, .contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block::-webkit-input-placeholder {
  display: block;
  width: 100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 3.4;
  color: rgba(255, 255, 255, 0.6);
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block::-moz-placeholder, .contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block::-moz-placeholder {
  display: block;
  width: 100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 3.4;
  color: rgba(255, 255, 255, 0.6);
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block:-ms-input-placeholder, .contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block:-ms-input-placeholder {
  display: block;
  width: 100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 3.4;
  color: rgba(255, 255, 255, 0.6);
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block::-ms-input-placeholder, .contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block::-ms-input-placeholder {
  display: block;
  width: 100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 3.4;
  color: rgba(255, 255, 255, 0.6);
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block,
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block,
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .input-block::placeholder,
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block::placeholder {
  display: block;
  width: 100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 3.4;
  color: rgba(255, 255, 255, 0.6);
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-fielset .textarea-block {
  height: 135px;
  resize: none;
}
.contacts .container .contacts-section__form-wrapper .contacts-section__form-submit-btn {
  width: 244px;
  height: 53px;
  border: none;
  border-radius: 2px;
  background-color: #6eeee4;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .contacts .container .contacts-section__form-wrapper .contacts-section__form-submit-btn {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.contacts .container .contacts-section__form-wrapper .btn {
  padding: 0;
  cursor: pointer;
}
.contacts .container .contacts-section__form-wrapper .btn:hover {
  background-color: #20d3c4;
  color: #0e0505;
  cursor: pointer;
}
.contacts .container .contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  padding: 36px 23px 19px 22px;
  background-color: rgba(21, 21, 21, 0.71);
}
@media (max-width: 1023px) {
  .contacts .container .contacts__info {
    width: 768px;
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .contacts .container .contacts__info {
    width: 614px;
    margin-bottom: 5px;
  }
}
@media (max-width: 630px) {
  .contacts .container .contacts__info {
    max-width: 420px;
  }
}
@media (max-width: 440px) {
  .contacts .container .contacts__info {
    max-width: 360px;
  }
}
@media (max-width: 375px) {
  .contacts .container .contacts__info {
    max-width: 310px;
  }
}
.contacts .container .contacts__info .contacts__items {
  margin-bottom: 23px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 375px) {
  .contacts .container .contacts__info .contacts__items {
    font-size: 12px;
  }
}
.contacts .container .contacts__info .contacts__map {
  max-width: 455px;
  height: 224px;
  background-color: #000000;
}
@media (max-width: 1023px) {
  .contacts .container .contacts__info .contacts__map {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .contacts .container .contacts__info .contacts__map {
    max-width: 600px;
  }
}
@media (max-width: 440px) {
  .contacts .container .contacts__info .contacts__map {
    max-width: 360px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 93px 0px 151px 0px;
  background-color: #262b2e;
  color: white;
}
@media (max-width: 1024px) {
  .footer {
    padding: 53px 0px;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 10px 10px;
  }
}
.footer .footer__title {
  margin-bottom: 19px;
  opacity: 0.8;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .footer .footer__title {
    display: none;
  }
}
.footer .socials__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 7px;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  max-width: 205px;
}
.footer .socials__list .socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 40px;
  opacity: 0.4;
  background-color: #8a8a8a;
}
.footer .socials__list .socials__link .socials__icon--pinterest,
.footer .socials__list .socials__link .socials__icon--twitter,
.footer .socials__list .socials__link .socials__icon--dribble,
.footer .socials__list .socials__link .socials__icon--facebook {
  fill: #faf4f4;
}
.footer .socials__list .socials__link .socials__icon--pinterest {
  width: 17px;
  height: 22px;
}
.footer .socials__list .socials__link .socials__icon--twitter {
  width: 21px;
  height: 18px;
}
.footer .socials__list .socials__link .socials__icon--dribble {
  width: 21px;
  height: 21px;
}
.footer .socials__list .socials__link .socials__icon--facebook {
  width: 12px;
  height: 22px;
}
.footer .socials__list .socials__link:hover {
  background-color: #6eeee4;
  opacity: 1;
  cursor: pointer;
}
.footer .socials__list .socials__link:hover .socials__icon {
  fill: #000000;
}