body{
    height: auto;
    max-width: 1600px;
    min-width: 320px;
    margin: 0px auto;
    padding: 0px;
}

.header{
    height: 100%;
    min-height: 926px;
    padding-top: 184px;
    margin-left: 27px;
    background-color: #eff0f2;
}
.header__logo{
    width: 113px;
    height: 46px;
    padding-top: 8px;
    text-align: center;
    margin: 0 0 206px 199px;
    border: solid 5.5px #170f1c;
}
.header__title{
    text-align: center;
    color: #505050;
    text-transform: uppercase;
    margin-bottom: 150px;
}
.header__title__text,
.header__title__text__next{
    display: block;
    text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 2.5px;
 }
 .header__title__text{
     margin-bottom: 25px;
 }
.header__title__text-color{
    width: 255px;
    height: 54px;
    object-fit: contain;
    background-color: #76f4ea;
    opacity: 0.5;
}
.header__title__text-color-2{
    width: 236px;
    height: 54px;
    object-fit: contain;
    background-color: #76f4ea;
    opacity: 0.5;
}
.header__contact__us{
    text-align: center;
}
.header__button{
    width: 232px;
    height: 53px;
    margin: 0 auto;
    border: 2px solid #777879;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.56;
    font-weight: 400;
    color: #3c3c3d;
}
.header__button:hover{
    background-color: #777879;
    color: #ffffff;
    cursor: pointer;
}
.header__image{
    position: absolute;
    left: 72%;
}
.main {

}
.main h2{
    opacity: 0.9;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: bold;
    line-height: 0.74;
    letter-spacing: 2.28px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 17px;
    text-align: center;
    text-transform: uppercase;
}
.main h3{
    opacity: 0.62;
    font-family: Merriweather;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 1.08px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 147px;
    color: #808181;
}
.about__us{
    min-height: 985px;
    margin: 0 0 129px 54px;
    padding-top: 129px;
    background-color: #f8fafa;
}
.flex__about__us{
    display: flex;
}
.about__us__image{
    margin-left: 252px;
    margin-right: 154px;
}
.about__us__content{

}
.about__us__content h4{
  opacity: 0.75;
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  margin-bottom: 31px;
}

.about__us__content p{
    max-width: 474px;
    opacity: 0.74;
    font-family: Raleway;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: rgba(0, 0, 0, 0.74);
}
.featured__works{
    min-height: 912px;
    background-color: aquamarine;
}
.works__images{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(300px, 1fr));
    gap: 13px;
    margin: 0 20% 224px;
}
.works__image{
    position: relative;
    padding: 0px 0px 85% 0px;
}
.works__image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}