$color_blue: #76f4ea;
$color_gray: #777879;
$color_white: #ffffff;
.container {
    max-width: 1139px;
    min-height: 100%;
    margin: 0px auto;
}
.header {
    padding-left: 20px;
    padding-top: 64px;
    background-color: #eff0f2;
    @media (max-width: 375px) {
        padding: 10px 5px;
    }
    &__logo {
        margin-bottom: 206px;
        @media (max-width: 1005px) {
            margin-bottom: 21%;
        }
        @media (max-width: 375px) {
            margin-bottom: 30px;
        }
        img {
            width: 300px;
        }
    }
    &__title {
        text-align: center;
        color: #505050;
        text-transform: uppercase;
        margin-bottom: 150px;
        @media (max-width: 1005px) {
            margin-bottom: 21%;
        }
        @media (max-width: 375px) {
            margin-bottom: 40px;
        }
        &-text,
        &-text-next {
            display: block;
            text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            font-size: 45px;
            font-weight: bold;
            line-height: 28px;
            letter-spacing: 2.5px;
            @media (max-width: 1005px) {
                font-size: 40px;
            }
            @media (max-width: 904px) {
                font-size: 35px;
            }
            @media (max-width: 647px) {
                font-size: 31px;
            }
            @media (max-width: 582px) {
                font-size: 26px;
            }
            @media (max-width: 375px) {
                font-size: 25px;
            }
        }
        &-text {
            margin-bottom: 25px;
            @media (max-width: 375px) {
                margin-bottom: 10px;
            }
            &-color-blue {
                width: 255px;
                height: 54px;
                object-fit: contain;
                background-color: $color_blue;
                opacity: 0.5;
            }
        }
        &-text-color-blue {
            width: 236px;
            height: 54px;
            object-fit: contain;
            background-color: $color_blue;
            opacity: 0.5;
        }
    }
    &__contact-us {
        text-align: center;
        &-button {
            width: 232px;
            height: 53px;
            margin: 0px auto;
            border: 2px solid $color_gray;
            border-radius: 2px;
            text-transform: uppercase;
            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            font-size: 18px;
            line-height: 1.56;
            font-weight: 400;
            color: #3c3c3d;
            &:hover {
                background-color: $color_gray;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
    &__image {
        margin-left: 75.6%;
        @media (max-width: 375px) {
            margin-left: 65%;
        }
    }
}
.main {
    width: 100%;
    h2 {
        opacity: 0.9;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 38px;
        font-weight: bold;
        line-height: 0.74;
        letter-spacing: 2.28px;
        color: rgba(0, 0, 0, 0.9);
        margin-bottom: 17px;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: 375px) {
            margin-bottom: 5px;
            font-size: 25px;
        }
    }
    h3 {
        opacity: 0.62;
        font-family: Merriweather;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 1.08px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10%;
        color: #808181;
        @media (max-width: 1126px) {
            margin-bottom: 5%;
        }
        @media (max-width: 1024px) {
            margin-bottom: 1px;
        }
        @media (max-width: 375px) {
            margin-bottom: 5px;
            font-size: 10px;
        }
    }
}
.about__us {
    padding: 129px 15px 0px;
    background-color: #f8fafa;
    @media (max-width: 1024px) {
        padding: 5% 10px 0px;
    }
    &-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 630px) {
            flex-wrap: wrap;
        }
        &-image {
            margin-right: 10%;
            @media (max-width: 1024px) {
                margin-right: 5%;
            }
            @media (max-width: 768px) {
                margin-right: 2%;
            }
            @media (max-width: 630px) {
                margin-right: 0px;
            }
            img {
                max-width: 100%;
            }
        }
        &-content {
            max-width: 474px;
            & h4 {
                opacity: 0.75;
                font-family: Merriweather;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.4;
                letter-spacing: 1.2px;
                text-align: left;
                color: rgba(0, 0, 0, 0.75);
                text-transform: uppercase;
                margin-bottom: 31px;
                @media (max-width: 821px) {
                    font-size: 17px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
            & p {
                max-width: 474px;
                opacity: 0.74;
                font-family: Raleway;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.75;
                letter-spacing: 0.8px;
                text-align: left;
                color: rgba(0, 0, 0, 0.74);
                @media (max-width: 821px) {
                    font-size: 13.5px;
                }
            }
        }
    }
}
.works {
    padding: 129px 0px 125px;
    @media (max-width: 1160px) {
        padding: 5% 10px 10px;
    }
    @media (max-width: 375px) {
        padding: 10px 10px;
    }
    &__images {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 13px;
        grid-template-columns: repeat(auto-fit, minmax(359px, 1fr));
        align-items: stretch;
        @media (max-width: 375px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }
    &__image {
        position: relative;
        padding: 0px 0px 85% 0px;
        grid-column-start: auto;
        grid-row-start: auto;
        background-repeat: no-repeat;
        background-size: cover;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.team {
    background-color: #f9fbfb;
    text-align: center;
    &__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (max-width: 1150px) {
            justify-content: center;
        }
        .team-gallery__item {
            position: relative;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            width: 32%;
            max-width: 370px;
            margin: 5px auto;
            cursor: pointer;
            @media (max-width: 1150px) {
                width: 320px;
                margin: 5px;
            }
            .team__image {
                width: 100%;
                img {
                    width: 370px;
                    @media (max-width: 1150px) {
                        width: 300px;
                    }
                }
            }
        }
        .team-gallery__item:hover>.tooltip {
            position: absolute;
            display: block;
            align-self: flex-end;
            width: 100%;
            max-width: 335px;
            min-height: 241px;
            padding: 43px 54px 42px 38px;
            bottom: 3%;
            opacity: 0.98;
            box-shadow: 2.7px 6.4px 16px 0 rgba(20, 20, 21, 0.18);
            background-color: #6df6eb;
            visibility: visible;
            @media (max-width: 1150px) {
                min-height: 210px;
                max-width: 280px;
                padding: 15px;
            }
            @media (max-width: 660px) {
                min-height: 138px;
                max-width: 280px;
                padding: 18px 54px 22px 38px;
            }
        }
        .tooltip {
            display: none;
            width: 0;
            height: 0;
            visibility: hidden;
            text-align: left;
            .employee__header {
                margin-bottom: 23px;
                .employee__name,
                .employee__position {
                    line-height: 24px;
                }
                .employee__name {
                    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: rgba(39, 39, 39, 0.95);
                }
                .employee__position {
                    font-family: 'Merriweather-Italic', Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgba(118, 112, 112, 0.95);
                }
            }
            .employee__info {
                max-width: 239px;
                margin-bottom: 37px;
                font-family: 'Raleway', Arial, Helvetica, sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: rgba(0, 0, 0, 0.8);
                @media (max-width: 660px) {
                    display: none;
                }
            }
            .employee-socials__list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 88px;
                .employee-socials__link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        transform: scale(1.2, 1.2);
                        transition: ease-out 550ms;
                        cursor: pointer;
                    }
                    &:hover .employee-socials__icon {
                        fill: rgba(0, 0, 0, 0.7);
                    }
                    .employee-socials__icon--gmail,
                    .employee-socials__icon--twitter,
                    .employee-socials__icon--dribble,
                    .employee-socials__icon--facebook {
                        fill: rgba(0, 0, 0, 0.7);
                    }
                    .employee-socials__icon--facebook {
                        width: 8px;
                        height: 13px;
                    }
                    .employee-socials__icon--twitter {
                        width: 13px;
                        height: 10px;
                    }
                    .employee-socials__icon--dribble {
                        width: 12px;
                        height: 12px;
                    }
                    .employee-socials__icon--gmail {
                        width: 15px;
                        height: 11px;
                    }
                }
            }
        }
        .tooltip__triangle:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0px 21px 37px 21px;
            border-color: transparent transparent #71f6ec transparent;
            position: absolute;
            top: -19px;
            left: 11px;
            opacity: 0.97;
        }
    }
}
.contacts {
    background-image: url(../images/cristmas_snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 308px 0px 123px;
    @media (max-width: 1180px) {
        padding: 160px 5px 100px;
    }
    @media (max-width: 1023px) {
        padding: 100px 5px 50px;
    }
    @media (max-width: 440px) {
        padding: 10px 0px 0px;
    }
    .container {
        display: flex;
        justify-content: center;
        @media (max-width: 1023px) {
            flex-direction: column;
            align-items: center;
        }
        .contacts-section__form-wrapper {
            width: 614px;
            padding: 47px 30px 34px 31px;
            margin: 0px 26px 0px 0px;
            box-shadow: 0 0 30px 0 rgba(21, 21, 21, 0.12);
            background-color: rgba(21, 21, 21, 0.6);
            z-index: 0;
            @media (max-width: 1023px) {
                width: 768px;
                margin: 0px 0px 10px 0px;
            }
            @media (max-width: 768px) {
                width: 614px;
                margin: 0px 0px 5px 0px;
            }
            @media (max-width: 630px) {
                max-width: 420px;
            }
            @media (max-width: 440px) {
                max-width: 360px;
            }
            @media (max-width: 375px) {
                max-width: 310px;
            }
            .contacts-section__form-fielset {
                margin-bottom: 38px;
                .input-block,
                .textarea-block {
                    border: none;
                    border-bottom: 1px solid $color_white;
                    padding: 15px 0px;
                    background-color: transparent;
                }
                .input-block,
                .textarea-block,
                .input-block::placeholder,
                .textarea-block::placeholder {
                    display: block;
                    width: 100%;
                    font-family: 'Raleway', Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 3.4;
                    color: rgba(255, 255, 255, 0.6);
                }
                .textarea-block {
                    height: 135px;
                    resize: none;
                }
            }
            .contacts-section__form-submit-btn {
                width: 244px;
                height: 53px;
                border: none;
                border-radius: 2px;
                background-color: #6eeee4;
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                font-size: 18px;
                font-weight: 400;
                line-height: 1.56;
                color: rgba(0, 0, 0, 0.7);
                text-transform: uppercase;
                @media (max-width: 1023px) {
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
            .btn {
                padding: 0;
                cursor: pointer;
                &:hover {
                    background-color: #20d3c4;
                    color: #0e0505;
                    cursor: pointer;
                }
            }
        }
        .contacts__info {
            display: flex;
            flex-direction: column;
            width: 500px;
            padding: 36px 23px 19px 22px;
            background-color: rgba(21, 21, 21, 0.71);
            @media (max-width: 1023px) {
                width: 768px;
                margin-bottom: 5px;
            }
            @media (max-width: 768px) {
                width: 614px;
                margin-bottom: 5px;
            }
            @media (max-width: 630px) {
                max-width: 420px;
            }
            @media (max-width: 440px) {
                max-width: 360px;
            }
            @media (max-width: 375px) {
                max-width: 310px;
            }
            .contacts__items {
                margin-bottom: 23px;
                font-family: 'Raleway', Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.6;
                color: rgba(255, 255, 255, 0.7);
                @media (max-width: 375px) {
                    font-size: 12px;
                }
            }
            .contacts__map {
                max-width: 455px;
                height: 224px;
                background-color: #000000;
                @media (max-width: 1023px) {
                    max-width: 768px;
                }
                @media (max-width: 768px) {
                    max-width: 600px;
                }
                @media (max-width: 440px) {
                    max-width: 360px;
                }
            }
        }
    }
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 93px 0px 151px 0px;
    background-color: #262b2e;
    color: white;
    @media (max-width: 1024px) {
        padding: 53px 0px;
    }
    @media (max-width: 375px) {
        padding: 10px 10px;
    }
    .footer__title {
        margin-bottom: 19px;
        opacity: 0.8;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.56;
        text-transform: uppercase;
        @media (max-width: 375px) {
            display: none;
        }
    }
    .socials__list {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
        max-width: 205px;
        .socials__link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 40px;
            opacity: 0.4;
            background-color: #8a8a8a;
            .socials__icon--pinterest,
            .socials__icon--twitter,
            .socials__icon--dribble,
            .socials__icon--facebook {
                fill: #faf4f4;
            }
            .socials__icon--pinterest {
                width: 17px;
                height: 22px;
            }
            .socials__icon--twitter {
                width: 21px;
                height: 18px;
            }
            .socials__icon--dribble {
                width: 21px;
                height: 21px;
            }
            .socials__icon--facebook {
                width: 12px;
                height: 22px;
            }
        }
        .socials__link:hover {
            background-color: #6eeee4;
            opacity: 1;
            cursor: pointer;
            .socials__icon {
                fill: #000000;
            }
        }
    }
}